MYSQL_USERNAME='{{ galera_clustercheck_user }}'
MYSQL_PASSWORD='{{ galera_clustercheck_password }}'
AVAILABLE_WHEN_DONOR=-0
ERR_FILE="/var/log/clustercheck"
AVAILABLE_WHEN_READONLY=-1
DEFAULTS_EXTRA_FILE=/etc/my.cnf
